
table.dataTable tbody tr.odd {color: #000;}
table.dataTable tbody tr.even{color: #111;}
.nav-tabs > li > a {background-color: #CCC;}
.dhx_matrix_scell {color: #000;}

.time_spinner, .int_spinner {
  width: 100px;
}
.time_spinner input, .int_spinner input {
  text-align: right;
  padding: 6px;
  height: 34px;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  margin-bottom: 0;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

#content {
    padding-bottom: 32px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0;
    padding: 0;
}

tr.selected td {
    background-color: transparent !important;
}

.datatable .btn {
    margin: 0;
    line-height: 18px;
}

body.showcase {
    padding: 60px 0 32px;
}

nav.navbar {
    background-color: white;
    color: #6aa6d6;
    font-size: 14px;
}

.navbar-brand {
    font-size: 18px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #6aa6d6;
}


nav.navbar .form-control {
    background-color: #fff;
    border: 1px solid #6aa6d6;
    border-radius: 20px;
    color: #6aa6d6;
    font-size: 12px;
    height: 26px;
    padding: 6px;
    width: 80px;
}

nav.navbar-default .navbar-nav > .open > a, nav.navbar-default .navbar-nav > .open > a:hover, nav.navbar-default .navbar-nav > .open > a:focus {
    background-color: #6aa6d6;
    color: white;
}

nav.navbar .dropdown-menu > li > a {
    color: #6aa6d6 !important;
}

body.showcase  > div > footer, div#content > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    width: 100%;
    margin: 0;
    background-color: white;
    color: #6aa6d6;
    box-shadow: 0 -2px 2px #272727;
    transform: translate3d(0px, 0px, 0px);
}

body.showcase  > div.container > .row {
    background: white;
    padding: 15px;
}

header .page-header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
    border-radius: 1% 1% 1% 1% / 1% 1% 1% 1%;
}

header .page-header:before {
    position: absolute;
    width: 100%;
    height: 88%;
    border-radius: 10px / 100px;
    z-index: -1;
    top: 6%;
    bottom: 6%;
    content: "";
    box-shadow: 0 0 30px rgba(0,0,0,0.66);
}

header .page-header h1 {
    padding: 8px;
}

.panel .page-header {
    color: #6aa6d6;
    border-bottom: dashed 1px #6aa6d6;
}

.panel .page-header.space-before {
    margin-top: 26px;
}

.fa-fw {
    width: 2.5em;
}

ul.errorlist {
    padding: 0;
    margin: 0 15px;
}

ul.errorlist li {
    background-color: #d15e5e;
    border-color: rgba(0, 0, 0, 0.3);
    color: #f8f8f8;
    -moz-user-select: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Segoe UI",Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 10px;
    outline: medium none !important;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    width: 100%;
}

table caption {
    padding: 0 15px;
}

table caption h4 {
    text-align: left;
}

.panel-footer .form-inline .form-group {
    margin: 0;
}

.panel-footer .form-inline .btn {
    line-height: 32px;
    padding: 0;
}

.panel-footer .form-inline .btn-label-left {
    padding: 0 8px 0 0;
    margin-right: 8px;
}

.panel-footer .form-inline .btn-label-left span {
    left: 0;
    margin-right: 8px;
    padding: 0;
}

.panel-footer .form-inline .btn-label-right {
    padding: 0 0 0 8px;
    margin-left: 8px;
}

.panel-footer .form-inline .btn-label-right span {
    right: 0;
    margin-left: 8px;
    padding: 0;
}

.value {
    margin-bottom: 5px;
}

#content {
    z-index: 8;
}

#ajax-content .expanded-padding, #content > article > .expanded-padding {
    padding-top: 60px;
}

.panel-footer .sp-replacer {
    margin: 0 0 5px;
}

// TIMELINE


.dhx_second_scale_bar {
    font-weight: bold;
}

.current_day, .current_week {
    border-top: 2px solid #454544;
    border-bottom: 2px solid #454544;
    background-color: #f0ede7;
    height: 28px;
}

.dhx_cal_header {
    left: 2px !important;
}