{% extends "master_template.html" %}

{% block body %}
<body>

    <header class="navbar">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="logo" class="col-xs-12 col-sm-2">
                    <a href="{% url 'saas:home' %}">{{ platform_name }}</a>
                </div>
                <div id="top-panel" class="col-xs-12 col-sm-10">
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                            <a href="#" class="show-sidebar">
                              <i class="fa fa-bars"></i>
                            </a>
                            <div id="search">
                                <input type="text" placeholder="search"/>
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-8 top-panel-right">
                            <ul class="nav navbar-nav pull-right panel-menu">
                                <li class="hidden-xs">
                                    <a href="{% url 'saas:notifications' %}" class="modal-link">
                                        <i class="fa fa-fw fa-bell"></i>
                                        <span class="badge">{{ nb_notifications }}</span>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle account" data-toggle="dropdown" id="dropdown_profile">
                                        <div class="avatar">
                                            <img src="{{ current_user_avatar_uri }}" class="img-rounded" alt="avatar" />
                                        </div>
                                        <i class="fa fa-fw fa-angle-down pull-right"></i>
                                        <div class="user-mini pull-right">
                                            <span class="welcome">{{ welcome_message }}</span>
                                            <span>{{ current_user_display_name }}</span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown_profile">
                                        {% if is_authenticated %}
                                        <li role="presentation">
                                            <a role="menuitem" href="{% url 'saas:profile' %}">
                                                <i class="fa fa-fw fa-user"></i>
                                                <span>Profile</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" href="{% url 'saas:settings' %}">
                                                <i class="fa fa-fw fa-cog"></i>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation">
                                            <a role="menuitem" href="{% url 'saas:contact' %}">
                                                <i class="fa fa-fw fa-pencil"></i>
                                                <span>Contact us</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" href="{% url 'saas:new_issue' %}">
                                                <i class="fa fa-fw fa-bug"></i>
                                                <span>Report an issue</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation">
                                            <a role="menuitem" href="{% url 'saas:logout' %}">
                                                <i class="fa fa-fw fa-sign-out"></i>
                                                <span>Log out</span>
                                            </a>
                                        </li>
                                        {% else %}
                                        <li role="presentation">
                                            <a role="menuitem" href="{% url 'saas:login' %}">
                                                <i class="fa fa-fw fa-sign-in"></i>
                                                <span>Log in</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" href="{% url 'saas:subscribe' %}">
                                                <i class="fa fa-fw fa-user-plus"></i>
                                                <span>Sign up</span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation">
                                            <a role="menuitem" href="{% url 'saas:contact' %}">
                                                <i class="fa fa-fw fa-pencil"></i>
                                                <span>Contact us</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Container -->

    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                <ul role="menu" class="nav main-menu">
                    {% for menu1 in menu %}
                    {% if menu1.has_children %}
                    <li role="presentation" class="dropdown{% if view_name in menu1.view_names %} open{% endif %}">
                        <a data-toggle="dropdown" class="dropdown-toggle{% if view_name in menu1.view_names %} active-parent active{% endif %}" href="#" id="menu_{{ menu1.name }}">
                            <i class="fa fa-fw fa-{{ menu1.icon }}"></i>
                            <span class="hidden-xs">{{ menu1.label }}</span>
                        </a>
                        <ul role="menu" class="dropdown-menu" aria-labelledby="menu_{{ menu1.name }}"{% if view_name in menu1.view_names %} style="display: block;"{% endif %}>
                            {% for menu2 in menu1.get_children %}
                            <li role="presentation">
                                <a href="{% url menu2.get_reverse_url  %}" class="{% if view_name in menu2.view_names %}active-parent active{% endif %}">
                                    <i class="fa fa-fw fa-{{ menu2.icon }}"></i>
                                    <span class="hidden-xs">{{ menu2.label }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li role="presentation">
                        {% if menu1.view %}
                        <a href="{% url menu1.get_reverse_url %}" class="{% if view_name in menu1.view_names %}active-parent active{% endif %}">
                            <i class="fa fa-fw fa-{{ menu1.icon }}"></i>
                            <span class="hidden-xs">{{ menu1.label }}</span>
                        </a>
                        {% else %}
                        <a href="#">
                            <i class="fa fa-fw fa-{{ menu1.icon }}"></i>
                            <span class="hidden-xs">{{ menu1.label }}</span>
                        </a>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!--Main Content-->

            <div id="content" class="col-xs-12 col-sm-10">

                <div class="row">
                    <div id="breadcrumb" class="col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'saas:home' %}"><i class="fa fa-fw fa-home"></i></a></li>
                            <li><a href="#">{{ page_title }}</a></li>
                        </ol>
                    </div>
                </div>

                <div class="preloader">
                    <img src="{{ STATIC_URL }}devoops/img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>
                </div>

                <aside class="row">
                    {% for msg in errors %}
                    <p class="btn btn-block btn-danger">{{ msg }}</p>
                    {% endfor %}
                    {% for msg in warns %}
                    <p class="btn btn-block btn-warning">{{ msg }}</p>
                    {% endfor %}
                    {% for msg in info %}
                    <p class="btn btn-block btn-info">{{ msg }}</p>
                    {% endfor %}
                    {% for msg in confirms %}
                    <p class="btn btn-block btn-success">{{ msg }}</p>
                    {% endfor %}
                    {% for msg in messages %}
                    <p class="btn btn-block btn-primary">{{ msg }}</p>
                    {% endfor %}
                </aside>

                <article>{% block content %}{% endblock %}</article>

                <div id="ajax-content"></div>

                <footer class="row">
                    <p class="text-center"><strong>InsPyration</strong> | <strong>Python & Django</strong></p>
                </footer>
            </div>
            <!--End Content-->
        </div>
    </div>
    <!--End Container-->
</body>
{% endblock %}
