{% extends "showcase_template.html" %}

{% block content %}

        <div class="jumbotron">
            <h2>Management tools.</h2>
            <p>Our easy-to-use products are designed for very specifics needs. Feel free to try them all !</p>
            <p><a class="btn btn-primary btn-lg" href="/subscribe" role="button">Try it !</a></p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="text-center"><i class="fa fa-fw fa-5x fa-users"></i></div>
                    <div class="caption">
                        <h3>Team management</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-fw fa-coffee"></i>RH management</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-clock-o"></i>Time management</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-weixin"></i>Enterprise social network</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-paperclip"></i>Recruitment</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-car"></i>Fleet</li>
                        </ul>
                        <p><a href="#" class="btn btn-primary" role="button">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="text-center"><i class="fa fa-fw fa-5x fa-tasks"></i></div>
                    <div class="caption">
                        <h3>Project management</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-fw fa-calendar"></i>Planning</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-dashboard"></i>Monitoring</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-bar-chart"></i>Control</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-list-ol"></i>Requirements</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-asterisk"></i>Risks</li>
                        </ul>
                        <p><a href="#" class="btn btn-primary" role="button">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="text-center"><i class="fa fa-fw fa-5x fa-star-half-o"></i></div>
                    <div class="caption">
                        <h3>CMMI</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-fw fa-line-chart"></i>Process improvement</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-trophy"></i>Appraisal program</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-refresh"></i>Measurement and analysis</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-pie-chart"></i>Quality assurance</li>
                            <li class="list-group-item"><i class="fa fa-fw fa-forward"></i>Support</li>
                        </ul>
                        <p><a href="#" class="btn btn-primary" role="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
