{% extends "master_template.html" %}

{% block body %}
<body class="showcase">

    <div class="container">

        <header class="row">

            <div class="page-header">
                <h1>Straightforward tools, ergonomic interfaces.</h1>
            </div>
        </header>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{ platform_name }}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul role="menu" class="nav navbar-nav">
                        {% for menu1 in menu %}
                        {% if menu1.has_children %}
                        <li role="presentation" class="dropdown{% if view_name in menu1.view_names %} open{% endif %}">
                            <a data-toggle="dropdown" class="dropdown-toggle{% if view_name in menu1.view_names %} active-parent active{% endif %}" href="#" id="menu_{{ menu1.name }}" role="button" aria-expanded="false">
                                <i class="fa fa-fw fa-{{ menu1.icon }}"></i>
                                <span class="hidden-xs">{{ menu1.label }}</span>
                                <span class="caret"></span>
                            </a>
                            <ul role="menu" class="dropdown-menu" aria-labelledby="menu_{{ menu1.name }}"{% if view_name in menu1.view_names %} style="display: block;"{% endif %}>
                                {% for menu2 in menu1.get_children %}
                                <li role="presentation">
                                    <a href="{{ menu2.path  }}" class="{% if view_name in menu2.view_names %}active-parent active{% endif %}">
                                        <i class="fa fa-fw fa-{{ menu2.icon }}"></i>
                                        <span class="hidden-xs">{{ menu2.label }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% else %}
                        <li role="presentation">
                            <a href="{{ menu1.path  }}" class="{% if view_name in menu1.view_names %}active-parent active{% endif %}">
                                <i class="fa fa-fw fa-{{ menu1.icon }}"></i>
                                <span class="hidden-xs">{{ menu1.label }}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>

                    <!-- menu or login form -->
                    {% if is_authenticated %}
                    <div class="panel-menu dropdown navbar-right">
                        <a href="#" class="dropdown-toggle account" data-toggle="dropdown" id="dropdown_profile">
                            <div class="avatar">
                                <img src="{{ current_user_avatar_uri }}" class="img-rounded" alt="avatar" />
                            </div>
                            <i class="fa fa-fw fa-angle-down pull-right"></i>
                            <div class="user-mini pull-right">
                                <span class="welcome">{{ welcome_message }}</span>
                                <span>{{ current_user_display_name }}</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown_profile">
                            <li role="presentation">
                                <a role="menuitem" href="{% url 'profile' %}">
                                    <i class="fa fa-fw fa-user"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" href="{% url 'settings' %}">
                                    <i class="fa fa-fw fa-cog"></i>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" href="{% url 'contact' %}">
                                    <i class="fa fa-fw fa-pencil"></i>
                                    <span>Contact us</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" href="{% url 'new_issue' %}">
                                    <i class="fa fa-fw fa-bug"></i>
                                    <span>Report an issue</span>
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" href="{% url 'logout' %}">
                                    <i class="fa fa-fw fa-sign-out"></i>
                                    <span>Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <form class="navbar-form navbar-right" role="form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Email">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>

        <article class="row">{% block content %}{% endblock %}</article>

        <footer class="navbar-fixed-bottom">
            <p class="text-center"><strong>InsPyration</strong> | <strong>Python & Django</strong></p>
        </footer>

    </div>

</body>
{% endblock %}
